body {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
}

.delete {
    margin-right: 5px;
    width: 80px
  }
  .container{
    padding-top: 100px;
  }